<%- include("layouts/header") %>

    <div class="main-cont">
        <div class="sidenav">
            <div class = "Course-title">
                
            </div>
            <div class = "Course-lessons">
                <div class = "lessons">
                    <div class = "lesson">
                        <span class = "lesson-number"></span>
                        <span class = "lesson-name"></span>
                        <span class = "lesson-status"></span>
                    </div>
                </div>
            </div>

        </div>
        <div class = "container">
            <div class = "course-video"><iframe></iframe></div>
        </div>
    </div>


    <%- include("layouts/footer") %>