<%- include("layouts/header") %>

 <div class="main_container">
       
        <div class="sub_container1"> 
            <div class="body-content">
                <section  id="particles-js">
                    <div  class="entire-content">
                        <div class="content-carrousel">
                            <figure class="shadowslider"><img class="img-fluid" src=".." ></figure>
                            <figure class="shadowslider"><img class="img-fluid"  src=".."></figure>
                            <figure class="shadowslider"><img class="img-fluid"   src=".."></figure>
                            <figure class="shadowslider"><img class="img-fluid"   src=".."></figure>
                            <figure class="shadowslider"><img class="img-fluid"   src=".."></figure>
                            <figure class="shadowslider"><img class="img-fluid"   src=".."></figure>
                            <figure class="shadowslider"><img class="img-fluid"   src=".."></figure>
                            <figure class="shadowslider"><img class="img-fluid"   src=".."></figure>
                            <figure class="shadowslider"><img class="img-fluid"   src=".."></figure>
                            <figure class="shadowslider"><img class="img-fluid"   src=".."></figure>
                            <figure class="shadowslider"><img class="img-fluid"   src=".."></figure>
                            <figure class="shadowslider"><img class="img-fluid"   src=".."></figure>
                        </div>
                    </div>
                </section> 

                <section id="info">
                    </br>
                        We ensure better education for a better world.
                    </br>
                </section>

                <section class="cards">

                    <div class="card text-white bg-secondary mb-3"  style="max-width: 18rem; max-height: 8rem;">
                        <div class="card-header">Courses</div>
                        <div class="card-body">
                          <p class="card-text">1260</p>
                        </div>
                      </div>
                    <div class="card text-white bg-secondary mb-3" style="max-width: 18rem; max-height: 8rem;">
                        <div class="card-header">Instructors</div>
                        <div class="card-body">
                          <p class="card-text">200</p>
                        </div>
                      </div>
                    <div class="card text-white bg-secondary mb-3"  style="max-width: 18rem; max-height: 8rem;">
                        <div class="card-header">Students</div>
                        <div class="card-body">
                          <p class="card-text">299k</p>
                        </div>
                      </div>
                </section>
            </div>
        </div>
        <div class="sub_container2">
           <p>Top rated courses</p>
            <div id="TopCourses">
              <div class="1 wow animate__animated animate__backInLeft">
                    <div class="content">
                      <div href="#" class="feature">
                        <div class="courseName">
                          <label>dfniewfn<br></label>
                        </div>
                        <img src="/images/homeBack.jpg" class="img-fluid" alt="" >
                        <div class="text">
                          <div class="instructorNmae">
                            <img src="/images/logo2(2).png" class="user-img" alt="" >
                            <label>jfdsf <br></label>
                          </div>
                        </div>
                      </div>
                    </div>
              </div>

              <div class="2 wow animate__animated animate__backInLeft">
                <div class="content">
                  <div href="#" class="feature">
                    <div class="courseName">
                      <label>Course name<br></label>
                    </div>
                    <img src="/images/homeBack.jpg" class="img-fluid" alt="" >
                    <div class="text">
                      <div class="instructorNmae">
                        <img src="/images/logo2(2).png" class="user-img" alt="" >
                        <label>John <br></label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            <div class="3 wow animate__animated animate__backInRight">
              <div class="content">
                <div href="#" class="feature">
                  <div class="courseName">
                    <label>Course name<br></label>
                  </div>
                  <img src="/images/homeBack.jpg"class="img-fluid"  alt="" >
                  <div class="text">
                    <div class="instructorNmae">
                      <img src="/images/logo2(2).png" class="user-img" alt="" >
                      <label>John <br></label>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <div class="4 wow animate__animated animate__backInRight">
            <div class="content">
              <div href="#" class="feature">
                <div class="courseName">
                  <label>Course name<br></label>
                </div>
                <img src="/images/homeBack.jpg" class="img-fluid">
                <div class="text">
                  <div class="instructorNmae">
                    <img src="/images/logo2(2).png" class="user-img" >
                    <label>John <br></label>
                  </div>
                </div>
              </div>
            </div>
        </div>
       
  </div>
  
 </div>
    

<%- include("layouts/footer") %>