<%- include("layouts/header") %>

 <div class="main_container">

        <div class="sub_container1  wow animate__animated animate__backInLeft">


            <div class="body-content ">
                
                <section id="slideshow">

                    <div class="entire-content">
                        <div class="content-carrousel">
                            <figure class="shadowslider"><img class="img-fluid" src=".." ></figure>
                            <figure class="shadowslider"><img class="img-fluid"  src=".."></figure>
                            <figure class="shadowslider"><img class="img-fluid"   src=".."></figure>
                            <figure class="shadowslider"><img class="img-fluid"   src=".."></figure>
                            <figure class="shadowslider"><img class="img-fluid"   src=".."></figure>
                            <figure class="shadowslider"><img class="img-fluid"   src=".."></figure>
                            <figure class="shadowslider"><img class="img-fluid"   src=".."></figure>
                            <figure class="shadowslider"><img class="img-fluid"   src=".."></figure>
                            <figure class="shadowslider"><img class="img-fluid"   src=".."></figure>
                            <figure class="shadowslider"><img class="img-fluid"   src=".."></figure>
                            <figure class="shadowslider"><img class="img-fluid"   src=".."></figure>
                            <figure class="shadowslider"><img class="img-fluid"   src=".."></figure>
                        </div>
                    </div>
                </section> 

                <section id="info">
                    </br>
                        We ensure better education for a better world.
                    </br>
                </section>

                <section class="cards">
                    <div class="card text-white bg-secondary mb-3"  style="max-width: 18rem; max-height: 8rem;">
                        <div class="card-header">Courses</div>
                        <div class="card-body">
                          <p class="card-text">1260</p>
                        </div>
                      </div>
                    <div class="card text-white bg-secondary mb-3" style="max-width: 18rem; max-height: 8rem;">
                        <div class="card-header">Instructors</div>
                        <div class="card-body">
                          <p class="card-text">200</p>
                        </div>
                      </div>
                    <div class="card text-white bg-secondary mb-3"  style="max-width: 18rem; max-height: 8rem;">
                        <div class="card-header">Students</div>
                        <div class="card-body">
                          <p class="card-text">299k</p>
                        </div>
                      </div>
                </section>
            </div>
        </div>
        <div class="sub_container2">
            <section id="slides">
  

            </section>
        </div>
 </div>
    

<%- include("layouts/footer") %>