<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Programs</title>
<link href="css/programs.css" rel="stylesheet" type="text/css" />

</head>
<body>
<div>

<div class="Programs float_l">

    <style>/* Image Zoom Effect */
    .image-card img {
        -webkit-transition: all 1s ease; /* Safari and Chrome */
        -moz-transition: all 1s ease; /* Firefox */
        -o-transition: all 1s ease; /* IE 9 */
        -ms-transition: all 1s ease; /* Opera */
        transition: all 1s ease;
        max-width: 100%;
    }
    .image-card:hover img {
        -webkit-transform:scale(1.25); /* Safari and Chrome */
        -moz-transform:scale(1.25); /* Firefox */
        -ms-transform:scale(1.25); /* IE 9 */
        -o-transform:scale(1.25); /* Opera */
        transform:scale(1.25);
    }

    .image-card {
    overflow:hidden;
    } 
    </style> 
    <h1>  Program one   </h1>
    <div class="program float_l">  		
            <div class="course float_l"><div class="image-card"><img src="images/1.png" width="300" height="280" /></div>
                <div class="lable"><div class="lable-size">Course 1<br>
                    <div style="font-weight:bold">
                        <del style="font-weight:normal">100$</del>&nbsp;&nbsp;60$<span class="off">- 40%</span>
                    </div>
                </div><div class="enrollnow"><a href="https://www.google.com/">Enroll Now</a></div>
            </div>
            </div>
            
            <div class="course float_l"><div class="image-card"><img src="images/2.png" width="300" height="280" /></div>
            <div class="lable"><div class="lable-size">Course 2<br>
                    <div style="font-weight:bold">
                        <del style="font-weight:normal">100$</del>&nbsp;&nbsp;60$<span class="off">- 40%</span>
                    </div>
                    </div><div class="enrollnow"><a href="https://www.google.com/">Enroll Now</a></div>
            </div>
            </div>
            
            <div class="course float_l"><div class="image-card"><img src="images/3.png" width="300" height="280" /></div>
            <div class="lable"><div class="lable-size">Course 3<br>
                    <div style="font-weight:bold">
                        <del style="font-weight:normal">100$</del>&nbsp;&nbsp;60$<span class="off">- 40%</span>
                    </div>
                </div><div class="enrollnow"><a href="https://www.google.com/">Enroll Now</a></div>
            </div>
            </div>
            <div class="course float_l"><div class="image-card"><img src="images/3.png" width="300" height="280" /></div>
            <div class="lable"><div class="lable-size">Course 4<br>
                    <div style="font-weight:bold">
                        <del style="font-weight:normal">100$</del>&nbsp;&nbsp;60$<span class="off">- 40%</span>
                    </div>
                </div><div class="enrollnow"><a href="https://www.google.com/">Enroll Now</a></div>
            </div>
            </div>
            <h1>  Program two   </h1>
            <div class="course float_l"><div class="image-card"><img src="images/3.png" width="300" height="280" /></div>
            <div class="lable"><div class="lable-size">Course 1<br>
                    <div style="font-weight:bold">
                        <del style="font-weight:normal">100$</del>&nbsp;&nbsp;60$<span class="off">- 40%</span>
                    </div>
                </div><div class="enrollnow"><a href="https://www.google.com/">Enroll Now</a></div>
            </div>
            </div>
            <div class="course float_l"><div class="image-card"><img src="images/3.png" width="300" height="280" /></div>
            <div class="lable"><div class="lable-size">Course 2<br>
                    <div style="font-weight:bold">
                        <del style="font-weight:normal">100$</del>&nbsp;&nbsp;60$<span class="off">- 40%</span>
                    </div>
                </div><div class="enrollnow"><a href="https://www.google.com/">Enroll Now</a></div>
            </div>
            </div>
            <div class="course float_l"><div class="image-card"><img src="images/3.png" width="300" height="280"  /></div>
            <div class="lable"><div class="lable-size">Course 3<br>
                    <div style="font-weight:bold">
                        <del style="font-weight:normal">100$</del>&nbsp;&nbsp;60$<span class="off">- 40%</span>
                    </div>
                </div><div class="enrollnow"><a href="https://www.google.com/">Enroll Now</a></div>
            </div>
            </div>
            <div class="course float_l"><div class="image-card"><img src="images/3.png" width="300" height="280" /></div>
            <div class="lable"><div class="lable-size">Course 4<br>
                    <div style="font-weight:bold">
                        <del style="font-weight:normal">100$</del>&nbsp;&nbsp;60$<span class="off">- 40%</span>
                    </div>
                </div><div class="enrollnow"><a href="https://www.google.com/">Enroll Now</a></div>
            </div>
            </div>            
    </div>
</div>
</body>
</html>
